{% extends 'base.html.twig' %}

{% block head %}
    <script src="recherche.js"></script>
{% endblock %}

{% block body %}
    {#{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}#}
    <h2 class="page-header">Ajouter un ami</h2>



    <div ng-app="recherche">
        <h2>ng-repeat</h2>
        <div ng-controller="rechercheCtrl">
            {#<div ng-repeat="user in liste">
                <h2>{{user.username}}</h2>
                <div>{{user.email}}</div>
            </div>#}
        </div>
    </div>




    {% if friends|length > 0 %}
        <h2 class="page-header">Liste d'amis</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Race</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for friend in friends %}
                <tr>
                    <th scope="row">{{ friend.username }}</th>
                    <td>{{ friend.race }}</td>
                    <td>
                        <a href="{{ path('friend_details', {'id': friend.id}) }}" class="btn btn-success">Détails</a>
                        <a href="{{ path('friend_delete', {'id': friend.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}