{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-success" href="{{ path('friend_add') }}" >Ajouter un ami</a>
    <hr>

    {% if friends|length > 0 %}
        <h2 class="page-header">Liste d'amis</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Race</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for friend in friends %}
                <tr>
                    <th scope="row">{{ friend.username }}</th>
                    <td>{{ friend.race }}</td>
                    <td>
                        <a href="{{ path('friend_details', {'id': friend.id}) }}" class="btn btn-success">Détails</a>
                        <a href="{{ path('friend_delete', {'id': friend.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}