{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit'} }) }}
    {{ form_row(form.username) }}
    {{ form_row(form.race) }}
    {{ form_row(form.status) }}
    {{ form_row(form.age) }}
    {{ form_row(form.planet) }}
    {{ form_row(form.email) }}
    {{ form_row(form.current_password) }}

<div>
    <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-info">Retour</a>
    <input type="reset" class="btn btn-warning" value="Annuler">
</div>
{{ form_end(form) }}
